<h3>Order from Cema's Tea Shop has been shipped</h3>
<p>
	This message ensures you that we have shipped your recent order.
</p>
<table>
	<tr>
		<th colspan="2">Count</th>
		<th>Description</th>
	</tr>
	<%= render @order.line_items %>
</table>